/* Popover Forms */
table.mceToolbar td
{
    position: relative;
}
.popover.popover_form
{
    width: 278px;
    top: 35px;
    margin-left: -130px;
}
.popover_form form
{
    width: 100%;
}
    .popover_form form input[type="text"]
    {
        background: #FFF;
        border: 1px solid #BFBFBF;
        border-top: 0;
        display: block;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 1.5;
        margin: 0;
        padding: 9px;
        width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    .popover_form form input[type="text"]:first-child
    {
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset, 0 1px 1px white;
           -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset, 0 1px 1px white;
            -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset, 0 1px 1px white;
             -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset, 0 1px 1px white;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11) inset, 0 1px 1px white;
    }
    .popover_form form button.chrome
    {
        width: 100%;
    }
    .popover_form form .checkbox_label
    {
        color: #828282;
        display: block;
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 10px;
        vertical-align: middle;
    }
        .popover_form form .checkbox_label input[type="checkbox"]
        {
            float: left;
            margin-right: 5px;
        }
    .popover_form form .input_group_wrapper input[type="text"]:first-child
    {
        border-bottom: 1px solid rgba(0,0,0,0.12);
        border-top: 1px solid #BFBFBF;
        -webkit-border-radius: 2px 2px 0 0;
           -moz-border-radius: 2px 2px 0 0;
            -ms-border-radius: 2px 2px 0 0;
             -o-border-radius: 2px 2px 0 0;
                border-radius: 2px 2px 0 0;
    }
    .popover_form form .input_group_wrapper input[type="text"]:last-child
    {
        margin-bottom: 10px;
        -webkit-border-radius: 0 0 2px 2px;
           -moz-border-radius: 0 0 2px 2px;
            -ms-border-radius: 0 0 2px 2px;
             -o-border-radius: 0 0 2px 2px;
                border-radius: 0 0 2px 2px;
    }

/* White Out Post Form */
.popover_open #post_form:after
{
    background: rgba(255,255,255,0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 6px;
}

/* Editor Open */
.editor_open {}
    .editor_open #source_editor
    {
        left: 0;
        position: static;
        top: 0;
    }
    .editor_open .mceIframeContainer iframe
    {
        left: -9999px;
        position: absolute;
        top: -9999px;
    }
    .editor_open .mceButton,
    .editor_open .mceAction,
    .editor_open .mceOpen
    {
        opacity: 0.3 !important;
    }
    .editor_open .mceButton.mce_code
    {
        opacity: 1 !important;
    }
        .editor_open .mceButton.mce_code span.mce_code
        {
            background-position: -300px -30px;
        }

/* Source Editor */
#source_editor
{
    left: -9999px;
    padding: 10px 0;
    position: absolute;
    top: -9999px;
}
    #source_editor .plexi
    {
        cursor: pointer;
        height: 32px;
        position: absolute;
        width: 100%;
        top: -32px;
    }
    #source_editor .plexi.show
    {
        background: transparent;
    }

#ace_source_editor
{
    display: block;
    position: relative;
    z-index: 200;
}
    #ace_source_editor .ace_editor
    {
        overflow-y: auto;
    }
    #ace_source_editor .ace_scroller
    {
        overflow-x: hidden;
    }
    #ace_source_editor .ace_line
    {
        color: #444;
    }
        #ace_source_editor .ace_line .ace_tag,
        #ace_source_editor .ace_line .ace_meta,
        #ace_source_editor .ace_line .ace_entity,
        #ace_source_editor .ace_line .ace_other
        {
            color: #92278F;
        }
    #ace_source_editor .ace_layer
    {
        overflow: visible;
    }
        #ace_source_editor .ace_layer .ace_cursor
        {
            background: transparent;
            border-left: 1px solid black;
        }
        #ace_source_editor .ace_layer .ace_cursor.ace_hidden
        {
            display: none;
        }

.popover_form form button.chrome,
form#source_editor button.chrome
{
    background: #9da6af;
    border: 1px solid #9da6af;
    color: white;
    cursor: pointer;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    line-height: 14px;
    padding: 4px 0 5px 0;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.popover_form form button.chrome:active,
form#source_editor button.chrome:active
{
    color: rgba(255,255,255,0.8);
    background: #949ca5;
    border-color: #949ca5;
}